<po-page-default p-title="Borba Personal">
    <po-container class="po-lg-6">
        <div class="po-row">
            <po-widget class="po-lg-6 po-mb-1" p-title="Nome do Produto">
                <div class="po-font-subtitle po-text-center">Imagem</div>
                <div class="po-text-center sample-container-dashboard">Descrição do Produto</div>
                <po-button p-label="Comprar" (p-click)="Comprar()"></po-button>
            </po-widget>
            <po-widget class="po-lg-6 po-mb-1" p-background="../images/Musculacao.png" p-title="Nome do Produto">
                <div class="po-font-subtitle po-text-center">
                    Imagem
                </div>
                <div class="po-text-center sample-container-dashboard">
                    Descrição do Produto
                </div>
                <po-button p-label="Comprar" (p-click)="Comprar()"></po-button>
            </po-widget>
        </div>
    </po-container>
</po-page-default>